

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
  width: 100%;
	}

h1, h2, h3, nav, footer {
    text-align: center;
}



nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
}

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
    width: 100%;
    background-color: #fff8f5;
  
   font-family: Arial, sans-serif;
            
	}

h1, h2, h3, nav, footer {
    text-align: center;
    color : #000000
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
}

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

            
        .ref {
        padding-top : 1em
        }
        .authors {
        font-weight : bold
        }
        .citation {
        font-style: italic;
        margin: 2em 0 0 2em;
        }
        .blockquote {
            margin: 2em 0 0 2em;
            padding-left: 1em;
        }
                .term {
            font-size: .9em;
            color: #430;
            font-family: Arial, sans-serif;
            border: 1px solid;
            border-radius: 6px;
            padding: .2ex .35em;
            background-color: #ffffff;
        }
        .blockquote p {
            max-width: calc(53rem - 3em);
        }


#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 5vw;
		margin:.15vw;
	}

.row {
    padding: 1vw;
}


#collection {
    display: flex;
}


.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 90%;
    max-width: 600px
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}
#sitenav {
background-color: #8696a6; 
padding: 10px 0;
text-align: center;
border-radius: 15px;
margin-bottom: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

#sitenav a {
color: #f0e5e1;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
font-size: 1.1em;
}

#sitenav a:hover {
text-decoration: underline;
}

